body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {

    #info {

        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 20%;     
        height: 7%;  

        z-index: 100;

        top: 110%;
        left: 5%;
        right: 0;
        bottom: 0;

        border-radius: 5px;
        
        background-color: #353535;
        color: #fff;
        font-weight: bolder;

    }

    #modalBG {

        position: fixed;
        display: none;
        align-items: center;
        justify-content: center;

        width: 100%;     
        height: 100%;  

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 100;
        
        background-color: #0005;

        #modalMain {
            min-width: 300px;
            background-color: #fff;
            padding: 16px 20px;
            text-align: center;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

        }
        
        #modalTitle {
            margin: 4px 0 !important;
            padding: 4px 0 !important;
        }

        #modalTxt {
            margin: 0;
        }

        #modalCont label {
            display: flex;
            flex-direction: column;
            text-align: left;
            color: #424242;
            margin-top: 7px;
        }

        input {
            padding: 7px 7px;
        }
    }

    #menuShow {

        position: fixed; 
        display: none;   
        z-index: 99;

        width: 100px;     
        height: 0px;    

        top: 27px;
        left: 0;
        right: 0;
        bottom: 0;

        border: #cccccc 1px solid;

        background-color: #f5f5f5; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        div:hover {
            background-color: #daeeff;
        }
    }

    nav {
        position: fixed;
        width: 100%;
        background-color: #eeeeee;
        top: 0;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;

        text-align: center;
        user-select: none;

        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom: #c0c0c0 1px solid;

        * {
            padding: 0px 5px;
            margin: 0px;
        }
        
        .vr {
            background-color: #777;
            width: 1px;
            height: 18px;
            margin: 2px 2px;
            padding: 0;
        }

        button {
            border: 5px;
            padding: 6px 8px;
            background-color: #0000;

            &:hover {
                background-color: #c0c0c0;
            }

        }

        p:not(:first-of-type) {
            font-size: small;
            color: #777;
            padding: 4px;
        }

    }
}

.spreadsheet {
    border-collapse: collapse;
    width: 100%;
    margin-top: 27px;

    th,
    td {
        border: 1px solid #c0c0c0;
        padding: 0;
        z-index: 1;
        height: 22px;
    }

    th {
        min-width: 100px;
        height: 24px;
        user-select: none;
    }

    th:first-child {
        width: 40px !important;
        min-width: 40px;
    }

    thead th {
        background-color: #eeeeee;
    }

    td.row-counter {
        text-align: right;
        color: #444444;
        padding: 0 3px;
        user-select: none !important;
    }
}

.selected {
    background-color: #6cbdff41;
    border: 1px solid #4f9dddad !important;
}

span#location {
    font-size: 15px;
    position: absolute;
    right: 10px;
    font-weight: bold;
}

#contextMenu {
    display: none;
    position: absolute;
    min-width: 130px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #contextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #contextMenu ul li {
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    color: #252525;
  }

  #contextMenu ul li:hover {
    background-color: #ddd;
}

#documentName {
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    padding: 6px 4px;
    max-width: 230px;
    text-wrap: nowrap;
    overflow: hidden;

    &:hover {
        filter: brightness(0.92);
    }
}

#modalMain button {
    padding: 8px 12px;
    background-color: rgb(30, 110, 185);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;

    &:hover {
        filter: brightness(0.9);
    }
}

button#mdlBtnNO {
    background-color: #c0c0c0;
    color: #222;
}